doctype html
html(lang="es")
  head
    title tutoCF
    meta( chatset= "utf-8")
    link( href="/staticfiles/css/material.min.css", rel="stylesheet")
    
    script(src="/staticfiles/js/material.min.js")
    link( href="/staticfiles/css/my.css", rel="stylesheet")
  body
    div(class="container")  
     block contenido
